name: Build

on:
  push:
    branches: [ main ]
    
jobs:
  build:
    runs-on: self-hosted
    name: Build ะก# programm
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: dotnet
      uses: dotnet build
